[Desktop Entry]
Name=INAV Blackbox Explorer
Comment=Blackbox analytics tool for INAV
Exec=/opt/inav/inav-blackbox-explorer/inav-blackbox-explorer
Icon=/opt/inav/inav-blackbox-explorer/icon/inav_icon_128.png
Terminal=false
Type=Application
Categories=Utility
